.list{
  list-style:none;
  text-align: center;
}

a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
}

.menu-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.menu-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}

.menu-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}


.menu-img-content {
  position: relative;
  background-color: #FFF;
}

.menu-img {
  width: 70vh;
  height: 70vh;
}

.menu-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.menu-name {
  font-size: 2.5vh;
}

.menu-calorie {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
}


.star-btn {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

.star-count {
  font-size: 2vh;
}

.post-user{
  text-align: center;
}

.post-user-name{
  font-size: 2.5vh;  
}
